.portfolio {
    &__container {
        display: flex;
        overflow: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
        @media (max-width: $tab) {
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;
            padding: 20px;
        }
    }
    &__link {
        width: 100%;
        max-width: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $tab) {
            max-width: 33%;
            margin-bottom: 10px;
        }

    }
    &__img {
        position: absolute;
        max-width: 500px;

    }
    &__sub-title {
        z-index: 10;
        padding: 50% 50%;
        text-align: center;
    }
}